body, html {
  margin: 0;
  background-color: #111;
}

text {
  fill: #ccc;
}

.legend {
  font: 600 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node {
  font: 400 9px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: white;
  font-weight: 600;
  cursor: pointer;
}

.node.parented.source,
.node.parented.target {
  fill: #4fd64f;
}

.node.resurrected.source,
.node.resurrected.target {
  fill: #e4cc33;
}

.node.wed.source,
.node.wed.target {
  fill: #2a94bb;
}

.node.killed.source,
.node.killed.target {
  fill: #ec3d3d;
}

.link {
  stroke: #333;
  stroke-opacity: 0.4;
  fill: none;
  pointer-events: none;
}

.link.source,
.link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link.killed.target,
.link.parented.target,
.link.resurrected.target {
  stroke-dasharray: 2px 2px;
}

.link.resurrected.source,
.link.resurrected.target {
  stroke: #e4cc33;
}

.link.killed.source,
.link.killed.target {
  stroke: #ec3d3d;
}

.link.wed.source,
.link.wed.target {
  stroke: #2a94bb;
}

.link.parented.source,
.link.parented.target {
  stroke: #4fd64f;
}
